* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222d5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

h2,
h3 {
  color: #fff;
  padding: 15px;
}

.deck__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deck__card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.deck__name {
  color: #fff;
}

.deck__image-container img {
  border-radius: 50%;
}

.cards-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: dimgray;
  background-color: transparent;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 544px;
  width: 544px;
}

.card {
  height: 128px;
  width: 128px;
  margin: 3px;
  -webkit-perspective: 750px;
          perspective: 750px;
  position: relative;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
}

.card.card__active .card__side--front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card.card__active .card__side--back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.card__solved .card__side--back {
  background-color: chartreuse;
}

.card__side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: turquoise;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  width: 100%;
}

.card__side img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card__side--front {
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-druid {
  background-color: #ff7c0a;
}

.card__side--back-hunter {
  background-color: #aad372;
}

.card__side--back-mage {
  background-color: #68ccef;
}

.card__side--back-monk {
  background-color: #008467;
}

.card__side--back-paladin {
  background-color: #f48cba;
}

.card__side--back-priest {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */