@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #c4edf8;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
