@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
:root {
  --color-primary: #4682b4;
  --color-primary-semitransparent: #5788d3ab;
  --color-primary-light: #5789d3;
  --color-primary-dark: #3a5097;
  --color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-2);
  --font-title: 'IM Fell English SC', serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.wrapper {
  margin: 8rem auto 0;
  max-width: 1200px;
  min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    margin: 0;
  }
}

.header {
  background-color: var(--color-white);
  border-bottom: var(--line);
  min-height: 12rem;
}

.content {
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.container {
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

.intro {
  background-color: var(--color-grey-light-3);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60vh;
}

.card__container {
  background-color: var(--color-grey-light-4);
  padding: 5rem 2rem;
  width: 100%;
}

.hotel__hotels-container {
  background-color: var(--color-white);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hotel {
  background-color: var(--color-white);
}

.gallery {
  background-color: var(--color-grey-light-4);
  padding: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .gallery {
    padding: 1rem;
  }
}

.about {
  background-color: var(--color-grey-light-4);
  height: calc(60vh + 10rem);
}

.footer {
  color: var(--color-white);
  padding: 3.5rem;
}

@media only screen and (max-width: 1200px) {
  .footer {
    background-color: var(--color-grey-dark-1);
  }
}

.hidden {
  display: none !important;
}

.rating {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating__average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -0.3rem;
}

.rating__count {
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.btn-inline {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding-bottom: 2px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn-inline a:link,
.btn-inline a:visited {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-title);
  text-transform: uppercase;
}

.btn-inline span {
  margin-left: 3px;
  -webkit-transition: margin-left 0.25s;
  transition: margin-left 0.25s;
}

.btn-inline:hover {
  color: var(--color-grey-dark-1);
}

.btn-inline:hover span {
  margin-left: 8px;
}

.btn-inline:focus {
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
  outline: none;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.review {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  margin-bottom: 3.5rem;
  overflow: hidden;
  padding: 3rem;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .review {
    margin-bottom: 3rem;
    padding: 2rem;
    width: 100%;
  }
}

.review__text {
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.review__user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__photo {
  border-radius: 50%;
  height: 4.5rem;
  margin-right: 1.5rem;
  width: 4.5rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.review__user-date {
  color: var(--color-grey-dark-3);
  font-size: 1rem;
}

.review__rating {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 300;
}

.review::before {
  color: var(--color-grey-light-2);
  content: '\201C';
  font-family: sans-serif;
  font-size: 16rem;
  left: -0.25rem;
  line-height: 1;
  position: absolute;
  top: -2rem;
  z-index: 1;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .cta {
    padding: 2rem 0;
  }
}

.cta__book-now {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.btn {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-primary)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  border: none;
  border-radius: 100px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}

.btn > * {
  display: inline-block;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
}

.btn__visible {
  padding: 2rem 7.5rem;
}

.btn__invisible {
  left: 0;
  padding: 2rem 0;
  position: absolute;
  top: -100%;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--color-primary)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark));
}

.btn:hover .btn__visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}

.btn:focus {
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
  outline: none;
}

.to-top-btn {
  position: fixed;
  bottom: 3rem;
  left: calc(50vw - 655px);
  z-index: 3;
  border: none;
  outline: none;
  background-color: var(--color-grey-dark-1);
  color: var(--color-white);
  cursor: pointer;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  font-size: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.to-top-btn:hover, .to-top-btn:focus {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.to-top-btn:active {
  -webkit-transform: translateX(-50%) scale(0.98);
          transform: translateX(-50%) scale(0.98);
}

@media only screen and (max-width: 1400px) {
  .to-top-btn {
    background-color: var(--color-primary-light);
    left: 3rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .to-top-btn:active {
    -webkit-transform: translateX(0) scale(0.98);
            transform: translateX(0) scale(0.98);
  }
}

.entranceIcon {
  -webkit-filter: hue-rotate(295deg);
          filter: hue-rotate(295deg);
}

.social {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  list-style: none;
  padding: 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 100%;
}

@media only screen and (max-width: 900px) {
  .social {
    -ms-grid-columns: (min-content)[4];
        grid-template-columns: repeat(4, -webkit-min-content);
        grid-template-columns: repeat(4, min-content);
  }
}

.social__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  width: 6rem;
}

.social__icon {
  height: 3rem;
  width: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.social__icon--youtube {
  fill: #f00;
}

.social__icon--twitter {
  fill: #1da1f2;
}

.social__icon--instagram {
  fill: #c32aa3;
}

.social__icon--facebook {
  fill: #3b5998;
  fill: #1877f2;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .header a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.logo {
  height: 6rem;
  margin-left: 2rem;
}

.title {
  color: var(--color-primary);
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-left: 1rem;
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
}

.title span {
  letter-spacing: 0.5px;
  text-transform: none;
}

.title a:link,
.title a:visited {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 2.5rem;
  }
  .title span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.user-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .user-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-grey-light-4);
    width: 100%;
  }
}

.user-nav > * {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 2rem;
}

@media only screen and (max-width: 600px) {
  .user-nav > * {
    padding: 0 3rem;
  }
}

.user-nav__icon-box {
  border: none;
  min-width: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__icon-box:hover {
  background-color: var(--color-grey-light-4);
}

.user-nav__icon-box:active {
  background-color: var(--color-grey-light-1);
}

.user-nav__icon {
  fill: var(--color-grey-dark-2);
  height: 2.25rem;
  width: 2.25rem;
}

@media only screen and (max-width: 600px) {
  .user-nav__icon {
    height: 4rem;
    width: 4rem;
  }
}

.user-nav__notification {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  height: 1.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 3rem;
  width: 1.75rem;
}

@media only screen and (max-width: 600px) {
  .user-nav__notification {
    right: 2rem;
    top: 1.25rem;
  }
}

.user-nav__user {
  border: none;
}

.user-nav__user:hover {
  background-color: var(--color-grey-light-4);
}

.user-nav__user:active {
  background-color: var(--color-grey-light-1);
}

.user-nav__user-photo {
  border-radius: 50%;
  height: 3.75rem;
  margin-right: 1rem;
  width: 3.75rem;
  background-image: url(../img/user.svg);
  background-size: cover;
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) or (-webkit-mask-image: url()) {
  .user-nav__user-photo {
    background-color: var(--color-grey-dark-2);
    -webkit-mask-image: url(../img/user.svg);
            mask-image: url(../img/user.svg);
    -webkit-mask-size: cover;
            mask-size: cover;
    background-image: none;
  }
}

@media only screen and (max-width: 600px) {
  .user-nav__user-photo {
    height: 5rem;
    width: 5rem;
  }
}

.create-account {
  border: 2px solid var(--color-primary-light);
  border-radius: 10px;
  padding: 1.5rem 3rem;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 5rem;
}

@media only screen and (max-width: 600px) {
  .create-account {
    margin-right: 2rem;
    padding: 1.75rem 2rem;
  }
}

.create-account:hover {
  background-color: var(--color-primary-light);
}

.create-account:focus {
  outline: none;
}

.create-account:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.create-account a:link,
.create-account a:visited {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.side-nav {
  background-color: var(--color-grey-dark-1);
  font-family: var(--font-title);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  list-style: none;
  margin-top: 3.5rem;
  position: fixed;
  top: calc(50vh - 125px);
  width: 200px;
}

@media only screen and (max-width: 900px) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
    top: auto;
    width: auto;
    min-height: 10rem;
  }
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .side-nav__item {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .side-nav__item--account {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .side-nav__item--gallery {
    display: none;
  }
}

.side-nav__item::before {
  background-color: var(--color-primary);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.5s cubic-bezier(1, 0, 0, 1) 0.25s, background-color 0.1s, -webkit-transform 0.25s;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1) 0.25s, background-color 0.1s, -webkit-transform 0.25s;
  transition: transform 0.25s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.25s, background-color 0.1s;
  transition: transform 0.25s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.25s, background-color 0.1s, -webkit-transform 0.25s;
  width: 3px;
}

@media only screen and (max-width: 900px) {
  .side-nav__item::before {
    background-color: transparent;
  }
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.side-nav__link:link, .side-nav__link:visited {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-grey-light-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 3rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
}

@media only screen and (max-width: 900px) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    padding: 1.5rem;
    text-align: center;
  }
}

.side-nav__icon {
  fill: currentColor;
  height: 1.75rem;
  margin-right: 2rem;
  width: 1.75rem;
}

@media only screen and (max-width: 600px) {
  .side-nav__icon {
    height: 1.5rem;
    margin-bottom: 0.7rem;
    margin-right: 0;
    width: 1.5rem;
  }
}

.intro {
  position: relative;
}

.intro__img-container {
  background-image: linear-gradient(105deg, transparent 0%, transparent 60%, var(--color-primary-semitransparent) 60%, var(--color-primary-semitransparent) 100%), url(../img/park1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .intro__img-container {
    background-image: linear-gradient(155deg, transparent 0%, transparent 30%, var(--color-primary-semitransparent) 50%, var(--color-primary-semitransparent) 100%), url(../img/park1.jpg);
  }
}

.intro__text-container {
  bottom: 0;
  color: black;
  padding: 3rem;
  position: absolute;
  right: 0;
  text-align: right;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .intro__text-container {
    width: 90%;
  }
}

.intro__heading {
  font-family: var(--font-title);
  font-size: 5rem;
  font-weight: inherit;
}

.intro__subtitle {
  font-family: var(--font-title);
  font-size: 2.5rem;
  font-weight: 600;
}

.card__container {
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  position: relative;
}

.card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  position: relative;
}

.card__cards-title {
  text-align: center;
  font-family: var(--font-title);
  font-size: 4rem;
  font-weight: inherit;
  line-height: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.card__subcard {
  border-radius: 5px;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card__photo {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.card__text-container {
  background-color: var(--color-primary-semitransparent);
  bottom: 0;
  color: var(--color-white);
  position: absolute;
  text-align: center;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 1rem;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .card__text-container {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.card__text-container:hover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: inherit;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
  padding: 1.5rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid var(--color-white);
}

.card__subtitle {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: inherit;
  padding: 1.5rem 1rem 2rem;
  line-height: 1.2;
}

.card__btn.btn-inline {
  color: var(--color-white);
  font-size: 2rem;
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

.card__btn.btn-inline:hover {
  color: var(--color-grey-light-4);
  letter-spacing: 2px;
}

.card__rating {
  border-radius: 5px;
  left: -1rem;
  height: 70px;
  position: absolute;
  top: -1rem;
  width: 70px;
}

@media only screen and (max-width: 900px) {
  .card__rating .rating__average {
    font-size: 3rem;
  }
}

.card__cta {
  grid-column: 1/-1;
}

.gallery {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
}

@media only screen and (max-width: 900px) {
  .gallery {
    gap: 1rem;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (10vh)[9];
        grid-template-rows: repeat(9, 10vh);
  }
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

.gallery__item--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery__item--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.gallery__item--8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
}

.gallery__item--10 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.gallery__item--11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.gallery__item--12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.gallery__item--13 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / span 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

.gallery__item--14 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / 9;
}

@media only screen and (max-width: 900px) {
  .gallery__item--1 {
    display: none;
  }
  .gallery__item--2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / span 2;
  }
  .gallery__item--3 {
    display: none;
  }
  .gallery__item--4 {
    display: none;
  }
  .gallery__item--5 {
    display: none;
  }
  .gallery__item--6 {
    display: none;
  }
  .gallery__item--7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3 / span 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / span 2;
  }
  .gallery__item--8 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .gallery__item--9 {
    display: none;
  }
  .gallery__item--10 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4 / span 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .gallery__item--11 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .gallery__item--12 {
    display: none;
  }
  .gallery__item--13 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7 / span 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
  }
  .gallery__item--14 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4 / span 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.gallery__img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.hotel {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-grey-light-1)), to(var(--color-grey-light-3)));
  background-image: linear-gradient(to right bottom, var(--color-grey-light-1), var(--color-grey-light-3));
  padding-top: 4.5rem;
}

.overview {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__heading {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}

.overview__icon-location {
  fill: var(--color-primary);
  height: 1.75rem;
  width: 1.75rem;
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  vertical-align: center;
}

.overview__icon-location {
  margin-right: 0.5rem;
}

.overview__rating {
  margin-left: 3rem;
  padding: 0 2.25rem;
}

@media only screen and (max-width: 600px) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
}

@media only screen and (max-width: 900px) {
  .detail {
    padding: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
}

@media only screen and (max-width: 900px) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .description {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

.user-reviews {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list {
  border-bottom: var(--line);
  border-top: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
}

.list__item {
  margin-bottom: 0.7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media only screen and (max-width: 600px) {
  .list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.list__item::before {
  background-image: url(../img/chevron-thin-right.svg);
  background-size: cover;
  content: '';
  display: inline-block;
  height: 1rem;
  margin-right: 0.7rem;
  width: 1rem;
}

@supports ((-webkit-mask-image: url()) or (mask-image: url())) or (-webkit-mask-image: url()) {
  .list__item::before {
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
            mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
            mask-size: cover;
    background-image: none;
  }
}

.recommend {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-grey-dark-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
}

.recommend__count {
  margin-right: auto;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  border: 3px solid var(--color-white);
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 4rem;
  width: 4rem;
}

.recommend__photo:not(:last-child) {
  margin-right: -2rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.about h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-title);
  font-size: 4rem;
  font-weight: inherit;
  text-align: center;
  height: 10rem;
  width: 100%;
}

.about__info {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  height: auto;
  width: 25%;
}

.about__info p {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
  line-height: 1;
}

.about__info h4 {
  font-size: 1.6rem;
  padding: 1rem;
  line-height: 1;
}

@media only screen and (max-width: 900px) {
  .about__info {
    height: auto;
    width: 100%;
  }
}

.about #mapid {
  background-color: chartreuse;
  border-top-right-radius: 10px;
  height: 60vh;
  max-height: 60rem;
  min-height: 45rem;
  width: 75%;
}

@media only screen and (max-width: 900px) {
  .about #mapid {
    min-height: 30rem;
    width: 100%;
  }
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  font-family: var(--font-title);
  font-size: 1.4rem;
  font-weight: 400;
  gap: 1rem;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  letter-spacing: 1px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .footer {
    display: block;
    padding: 3rem;
  }
}

.footer::after, .footer::before {
  background-color: var(--color-grey-dark-1);
  content: '';
  display: block;
  height: 1px;
}

@media only screen and (max-width: 1200px) {
  .footer::after, .footer::before {
    background-color: var(--color-white);
  }
}

.footer__social.social {
  border-radius: 25px;
  -ms-grid-columns: (min-content)[4];
      grid-template-columns: repeat(4, -webkit-min-content);
      grid-template-columns: repeat(4, min-content);
  padding: 1rem;
}

@media only screen and (min-width: 1200px) {
  .footer__social.social .social__icon {
    fill: black;
  }
}
/*# sourceMappingURL=style.css.map */