* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background-color: darkslategrey;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.cards-container {
  background-color: dimgray;
  height: 600px;
  width: 600px;
}
