.footer {
  align-items: center;
  display: grid;
  font-family: var(--font-title);
  font-size: 1.4rem;
  font-weight: 400;
  gap: 1rem;
  grid-template-columns: 1fr max-content 1fr;
  letter-spacing: 1px;
  margin-left: 200px;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    margin-left: 0;
  }

  @media only screen and (max-width: $bp-smallest) {
    display: block;
    padding: 3rem;
  }

  &::after,
  &::before {
    background-color: var(--color-white);
    content: '';
    display: block;
    height: 1px;

    @media only screen and (max-width: $bp-largest) {
      background-color: var(--color-white);
    }
  }

  &__social.social {
    border-radius: 25px;
    grid-template-columns: repeat(4, min-content);
    padding: 1rem;

    @media only screen and (min-width: $bp-largest) {
      & .social__icon {
        fill: white;
      }
    }
  }
}
