.account-card {
  // functionality

  perspective: 150rem;
  position: relative;
  height: 50rem;
  min-width: 300px;
  max-width: 400px;
  margin: 2rem;

  &__side {
    align-items: center;
    backface-visibility: hidden;
    background-color: var(--color-grey-dark-1);
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 3rem;
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
    width: 100%;
    z-index: 2;

    & h3 {
      margin-bottom: 3rem;
      text-align: center;
      font-family: var(--font-title);
      font-size: 2.5rem;
      line-height: 1.2;
      padding-top: 1rem;
    }

    & a {
      color: var(--color-primary-light);
      text-decoration: none;
      cursor: pointer;
    }

    & p {
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      text-align: left;

      width: 100%;
    }
  }

  &__btn {
    background: var(--color-primary-light);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1.4rem;
    padding: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    transition: all 0.3s;

    &:focus {
      outline: 0;
    }

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      transform: scale(0.98);
    }

    &-logout {
      background-color: var(--color-grey-dark-3);
      margin-bottom: 0;
      margin-top: auto;
    }
  }

  // FORM
  &__form {
    margin: 1.5rem 0;
    position: relative;
    width: 100%;

    & input {
      background-color: transparent;
      border: 0;
      border-bottom: 2px var(--color-white) solid;
      color: var(--color-white);
      display: block;
      font-size: 1.5rem;
      padding: 1.5rem 0 0.5rem;
      width: 100%;
    }

    & input:focus,
    & input:valid,
    & input:invalid {
      border-bottom-color: var(--color-primary-light);
      outline: 0;
    }

    & input:invalid:focus:required,
    & input:not(:placeholder-shown):invalid:required {
      border-bottom-color: var(--color-heart);
    }

    & label {
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 10px;
    }

    & label span {
      display: inline-block;
      font-size: 1.5rem;
      min-width: 5px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    & input:focus + label span,
    & input:not(:placeholder-shown) + label span {
      transform: translateY(-3rem);
    }

    & input:focus + label span,
    & input:valid + label span {
      color: var(--color-primary-light);
    }

    & input:invalid:focus:required + label span {
      color: var(--color-heart);
    }

    // var(--color-heart)
  }

  // favorite list
  &__side--settings {
    & ul {
      width: 100%;
    }

    & li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      margin-bottom: 2rem;
      height: 2rem;
      position: relative;
      user-select: none;
    }

    & li input {
      align-self: center;
      appearance: none;
      border-radius: 50%;
      -moz-appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      height: 2rem;
      opacity: 0;
      width: 2rem;
      z-index: 1;
    }

    & svg {
      color: transparent;
      cursor: pointer;
      display: inline;
      height: 2rem;
      top: 0;
      left: 0px;
      position: absolute;
      text-align: center;
      width: 2rem;
      transition: fill 0.5s linear, transform 0.5s ease-in-out 0.5s;
    }

    & label {
      color: var(--color-white);
      cursor: pointer;
      display: block;
      flex: 1 1 auto;
      font-size: 1.4rem;
      margin-left: 1rem;
      transition: all 0.3s;

      &:hover {
        color: var(--color-primary-light);
      }
    }

    & input:checked ~ svg {
      fill: var(--color-heart);
      transform: scale(1.2);
    }

    & input:checked ~ label {
      color: var(--color-primary-light);
    }
  }
}
