.booking {
  align-items: flex-end;
  background-image: url(../img/book2000.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: $bp-medium) {
    align-items: center;
  }

  &__form {
    align-items: center;
    background-color: var(--color-grey-dark-1);
    border-radius: 5px;
    color: var(--color-grey-light-3);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    margin: 4rem;
    min-height: 55rem;
    padding: 1rem 3rem;
    width: 300px;

    & .section-title {
      color: var(--color-white);
    }

    & label {
      margin-bottom: 0.3rem;
    }

    & select,
    input {
      background-color: var(--color-grey-dark-1);
      border-radius: 3px;
      border: none;
      color: var(--color-grey-light-3);
      filter: brightness(1.2);
      font-size: 1.4rem;
      margin-bottom: 2rem;
      outline: none;
      padding: 1rem 0.5rem;
      width: 250px;
    }

    & #booking__submit {
      background-color: var(--color-primary-light);
      filter: none;
      height: 5rem;

      &:hover,
      &:focus {
        filter: brightness(1.2);
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }

  &__confirmation {
    align-items: center;
    background-color: var(--color-grey-dark-1);
    border-radius: 5px;
    color: var(--color-grey-light-3);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    margin: 4rem;
    min-height: 55rem;
    padding: 1rem 3rem;
    width: 300px;

    & .section-title {
      color: var(--color-white);
    }
  }
}

.litepicker {
  font-size: 1.5rem;
}
