.footer {
  align-items: center;
  display: grid;
  font-family: var(--font-title);
  font-size: 1.4rem;
  font-weight: 400;
  gap: 1rem;
  grid-template-columns: 1fr max-content 1fr;
  letter-spacing: 1px;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    display: block;
    padding: 3rem;
  }

  &::after,
  &::before {
    background-color: currentColor;
    content: '';
    display: block;
    height: 1px;
  }
}
