.wrapper {
  margin: 8rem auto 0;
  max-width: $bp-largest;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }
}

.header {
  align-items: center;
  background-color: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  font-size: 1.4rem;
  height: 7rem;
  justify-content: space-between;

  @media only screen and (max-width: $bp-small) {
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    height: 15rem;
  }
}

.content {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    flex: 1;
  }
}

.intro {
  background-color: var(--color-grey-light-3);
  flex: 1;

  height: 60vh;
}

.hotel-view {
  background-color: var(--color-white);
  flex: 1;
}

.detail {
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

.user-reviews {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer {
  // background-color: transparent;
  color: var(--color-white);
  font-family: var(--font-title);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 3.5rem;
  text-align: center;

  @media only screen and (max-width: $bp-largest) {
    background-color: var(--color-grey-dark-1);
  }
}
