.wrapper {
  margin: 8rem auto 0;
  max-width: $bp-largest;
  min-height: 100vh;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }

  @media only screen and (max-width: $bp-largest) {
    background-color: var(--color-grey-dark-1);
  }
}

.header {
  background-color: var(--color-white);
  border-bottom: var(--line);
  min-height: 12rem;
}

.content {
  display: flex;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 200px;

  @media only screen and (max-width: $bp-medium) {
    flex: 1;
  }
}

.container {
  box-shadow: var(--shadow-dark);
}

.account {
  align-items: center;
  background-image: var(--background-gradient-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
  width: 100%;
}

.booking {
  background-image: var(--background-gradient-1);
  width: 100%;
}

.intro {
  background-image: var(--background-gradient-1);
  flex: 1;
  height: 60vh;
  min-height: 400px;
}

.card__container {
  background-image: var(--background-gradient-1);
  padding: 5rem 2rem;
  width: 100%;
}

.hotel__hotels-container {
  flex: 1;
}

// .hotel {
// placeholder
// }

.gallery {
  background-image: var(--background-gradient-1);
  padding: 1.5rem;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }
}

.about {
  background-image: var(--background-gradient-1);
  height: calc(60vh + 10rem);
}

.footer {
  color: var(--color-white);
  padding: 3.5rem;

  @media only screen and (max-width: $bp-largest) {
    background-color: var(--color-grey-dark-1);
  }
}
