.wrapper {
  margin: 8rem auto 0;
  max-width: $bp-largest;
  min-height: 100vh;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }
}

.header {
  background-color: var(--color-white);
  border-bottom: var(--line);
  // position: fixed;
  // top: 0;
  // z-index: 2;
  min-height: 12rem;

  @media only screen and (max-width: $bp-small) {
    // height: 20rem;
  }
}

.content {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  display: flex;
  // padding-top: 12rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-small) {
    // padding-top: 20rem;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 200px;

  @media only screen and (max-width: $bp-medium) {
    flex: 1;
  }
}

.container {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

.intro {
  background-color: var(--color-grey-light-3);
  flex: 1;
  height: 60vh;
}

.card__container {
  background-color: var(--color-grey-light-4);
  padding: 5rem 2rem;
  width: 100%;
}

.hotel {
  background-color: var(--color-white);
  flex: 1;
}

.gallery {
  background-color: var(--color-grey-light-4);
  padding: 1.5rem;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }
}

.about {
  background-color: var(--color-grey-light-4);
  height: calc(60vh + 10rem);
}

.footer {
  color: var(--color-white);
  padding: 3.5rem;

  @media only screen and (max-width: $bp-largest) {
    background-color: var(--color-grey-dark-1);
  }
}
